.text-weight-light {
    font-weight: 300;
}

.text-weight-normal {
    font-weight: 400;
}

.text-weight-semibold {
    font-weight: 600;
}

.text-weight-bold {
    font-weight: 700;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-underline {
    text-decoration: underline;
}

.rounded {
    border-radius: 5px;
}

.b-thin {
    border-width: 3px;
}

.b-normal {
    border-width: 5px;
}

.b-thick {
    border-width: 7px;
}

/* Spacements */
/* spacement top & bottom */
.m-none {
    margin: 0 !important;
}

.m-auto {
    margin: 0 auto !important;
}

.m-xs {
    margin: 5px !important;
}

.m-sm {
    margin: 10px !important;
}

.m-md {
    margin: 15px !important;
}

.m-lg {
    margin: 20px !important;
}

.m-xl {
    margin: 25px !important;
}

.m-xlg {
    margin: 30px !important;
}

/* spacement top	*/
.mt-none {
    margin-top: 0 !important;
}

.mt-xs {
    margin-top: 5px !important;
}

.mt-sm {
    margin-top: 10px !important;
}

.mt-md {
    margin-top: 15px !important;
}

.mt-lg {
    margin-top: 20px !important;
}

.mt-xl {
    margin-top: 25px !important;
}

.mt-xlg {
    margin-top: 30px !important;
}

/* spacement bottom	*/
.mb-none {
    margin-bottom: 0 !important;
}

.mb-xs {
    margin-bottom: 5px !important;
}

.mb-sm {
    margin-bottom: 10px !important;
}

.mb-md {
    margin-bottom: 15px !important;
}

.mb-lg {
    margin-bottom: 20px !important;
}

.mb-xl {
    margin-bottom: 25px !important;
}

.mb-xlg {
    margin-bottom: 30px !important;
}

/* spacement left	*/
.ml-none {
    margin-left: 0 !important;
}

.ml-xs {
    margin-left: 5px !important;
}

.ml-sm {
    margin-left: 10px !important;
}

.ml-md {
    margin-left: 15px !important;
}

.ml-lg {
    margin-left: 20px !important;
}

.ml-xl {
    margin-left: 25px !important;
}

.ml-xlg {
    margin-left: 30px !important;
}

/* spacement right	*/
.mr-none {
    margin-right: 0 !important;
}

.mr-xs {
    margin-right: 5px !important;
}

.mr-sm {
    margin-right: 10px !important;
}

.mr-md {
    margin-right: 15px !important;
}

.mr-lg {
    margin-right: 20px !important;
}

.mr-xl {
    margin-right: 25px !important;
}

.mr-xlg {
    margin-right: 30px !important;
}

/* Spacement Padding */
.p-none {
    padding: 0 !important;
}

.p-xs {
    padding: 5px !important;
}

.p-sm {
    padding: 10px !important;
}

.p-md {
    padding: 15px !important;
}

.p-lg {
    padding: 20px !important;
}

.p-xl {
    padding: 25px !important;
}

.p-xlg {
    padding: 30px !important;
}

/* spacement top	*/
.pt-none {
    padding-top: 0 !important;
}

.pt-xs {
    padding-top: 5px !important;
}

.pt-sm {
    padding-top: 10px !important;
}

.pt-md {
    padding-top: 15px !important;
}

.pt-lg {
    padding-top: 20px !important;
}

.pt-xl {
    padding-top: 25px !important;
}

.pt-xlg {
    padding-top: 30px !important;
}

/* spacement bottom	*/
.pb-none {
    padding-bottom: 0 !important;
}

.pb-xs {
    padding-bottom: 5px !important;
}

.pb-sm {
    padding-bottom: 10px !important;
}

.pb-md {
    padding-bottom: 15px !important;
}

.pb-lg {
    padding-bottom: 20px !important;
}

.pb-xl {
    padding-bottom: 25px !important;
}

.pb-xlg {
    padding-bottom: 30px !important;
}

/* spacement left	*/
.pl-none {
    padding-left: 0 !important;
}

.pl-xs {
    padding-left: 5px !important;
}

.pl-sm {
    padding-left: 10px !important;
}

.pl-md {
    padding-left: 15px !important;
}

.pl-lg {
    padding-left: 20px !important;
}

.pl-xl {
    padding-left: 25px !important;
}

.pl-xlg {
    padding-left: 30px !important;
}

/* spacement right	*/
.pr-none {
    padding-right: 0 !important;
}

.pr-xs {
    padding-right: 5px !important;
}

.pr-sm {
    padding-right: 10px !important;
}

.pr-md {
    padding-right: 15px !important;
}

.pr-lg {
    padding-right: 20px !important;
}

.pr-xl {
    padding-right: 25px !important;
}

.pr-xlg {
    padding-right: 30px !important;
}

.ib {
    display: inline-block;
    vertical-align: top;
}

.va-middle {
    vertical-align: middle;
}

.ws-nowrap {
    white-space: nowrap;
}

.ws-normal {
    white-space: normal;
}

.page-header .page-header-top .page-logo .logo-default
{
    margin: 14.5px 0 0 -15px !important;
}

/* START SHOP/SERVICE ITEM */
.grid_icon {
    float: left;
    margin-right: 10px;
    text-align: center;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.15);
    margin-left: 5px;
    margin-top: 5px;
}

.grid_icon_service {
    font-size: 2.5rem;
    float: left;
    margin-right: 10px;
    text-align: center;
    padding: 1px;
    margin-left: 12.5px;
    margin-top: 2.5px;
}

.grid-item-title {
    text-align: left;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 14px;
}

.grid-item-price {
    color: #A3A3A3;
    font-size: 11px;
}

.grid-item {
    border: 1px solid rgba(153, 153, 153, .8);
    margin-bottom: 10px;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .grid-item {
        margin-bottom: 10px;
    }
}

.grid-service-description {
    margin: 10px 20px 15px 15px;
    padding: 2.5px 5px;
    height: 100px;
}

.grid-item-buy {
    padding-right: 12px;
    height: 40px;
}

.grid-item-buy button,
.grid-item-buy a {
    margin-left: 5%;
}

div.sale label {
    display: inline !important;
    position: absolute;
    font-size: 8pt;
    text-shadow: none;
    float: right;
    color: #fff;
    top: 13px;
    right: 37px;
}

/* END SHOP/SERVICE ITEM */

a.nav-link, a.nav-link:hover {
    color: #8ea3b6;
}

